<div *ngFor="let notification of notificationService.notifications; let i = index;" [attr.data-index]="i"
    [class]="'notification -'+ notification.type"
    [slideOptions]="notification.SlideOptions"
    [style.transform]="'translateY(' + (i * 85) + 'px) '"
    [style.top.px]="80"
    [ngClass]="{mobile: i > 2}">

    <div class="icon">
        <i *ngIf="notification.type == 'success'" class="fas fa-check-circle -success"></i>
        <i *ngIf="notification.type == 'info'" class="fas fa-info-circle -info"></i>
        <i *ngIf="notification.type == 'warning'" class="fas fa-exclamation-circle -warning"></i>
        <i *ngIf="notification.type == 'danger'" class="fas fa-times-circle -danger"></i>
    </div>
    
    <div class="text">
        <label>{{notification.message}}</label>
    </div>

    <div class="btn-x" (click)="onClose(i)">
        <i class="fas fa-times-circle"></i>
    </div>
</div>