<div class="message-container">
    <div class="header">
        <label>Mensagens</label>
        <i class="btn-x fas fa-times" (click)="onClose()"></i>
    </div>

    <div class="messages">
        <div class="message new">
            a
        </div>
        <div class="message">
            b
        </div>
        <div class="message">
            c
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            d
        </div>
        <div class="message">
            z
        </div>
    </div>
</div>