<div class="select-options" [class.isOpen]="isOpen" [style.width.px]="clientRect.width -1" [style.top.px]="clientRect.top + clientRect.height"  [style.left.px]="clientRect.left">
	<div class="option search" *ngIf="canSearch" >
		<input #search focus class="form-control option" type="text" (keyup)="onSearch($event)"/>
		<i class="fas fa-search"></i>
	</div>
	<div class="option" *ngFor="let option of currentOptions; trackBy: trackItem" (click)="onSelect(option)">
		{{getDisplayValue(option)}}
		<i *ngIf="displayIcon" [class]="option[displayIcon]"></i> 
		<!-- TODO: COLOR -->
	</div>
</div>