<div class="modal-background" [ngClass]="{closed: closed}">
    <div class="modal">
        <div class="modal-header">
            <i class="btn-x fas fa-times" (click)="onClose()" *ngIf="modal.canClose"></i>
        </div>

        <div class="modal-content">
            <h3 *ngIf="modal.title">{{modal.title}}</h3>
            <label *ngIf="modal.message">{{modal.message}}</label>
            <div *ngIf="modal.html" class="content" [innerHTML]="safeHtml"></div>
            <template #modalContainer></template>
        </div>

        <div class="modal-footer">
            <button *ngFor="let action of modal.actions; let i = index;"
                class="btn" 
                [class]="(action.style == 'primary' ? 'primary' : '')"
                [ngClass]="{secundary: action.style == 'secundary'}"
                (click)="callCallback(i)">{{action.text}}</button>
            <span></span>
        </div>
    </div>
</div>